{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="sectionTitle">Ajouter un module</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" id="formButton">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}