{% extends 'base.html.twig' %}

{% block title %}Module monitoring - Historique{%
endblock %} 

{% block javascripts %} 
<script src="{{asset('js/generate_data.js ')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
{% endblock %}

{% block body %}

<div class="layout">
  <div id="infoContainer">
    
<div class="infoCell">
  <p><strong>Type de module: </strong><br>{{ info.type }}</p>
</div>
<div class="infoCell">
<p><strong>Description: </strong><br>{{ info.description }}</p>
</div>
<div class="infoCell">
<p><strong>Capacité maximum: </strong><br>{{ info.capaciteMax }}</p>
</div>


</div>
  <div id="histoContainer">
    <canvas id="myChart"></canvas>
    
  </div>
</div>


{% endblock %}