<!DOCTYPE html>
<html>
<head>
    <title>Affichage des données</title>
</head>
<body>
    <h1>Données de la base de données</h1>
    <ul>
        {% for donnee in donnees %}
            <li>{{ donnee.id }} - {{ donnee.type }} - {{ donnee.description }}</li> {# Remplacez "nom" et "description" par les noms des propriétés de votre entité #}
        {% endfor %}
    </ul>
</body>
</html>