<div id="nav">
    <img id="navLogo" src="{{asset('images/webreathe.png')}}" alt="Logo Webreathe">
    <ul>
        <li class="navBtn">
            <a href="/">Liste des modules</a>
        </li>
        <li class="navBtn">
            <a href="/add-module">Ajouter un module</a>
        </li>
    </ul>
</div>